<div class="container">

    {{ form_start(form) }}
    <div class="browse"> {{ form_row(form.type) }}</div>
    <a class="btn btn-secondary m-4" href="{{ path('user_index') }}">Retour au profil</a>
    <button class="btn btn-success m-4" type="submit">Ajouter</button>
    {{ form_end(form) }}

</div>