{% extends 'base.html.twig' %}

{% block title %}Gestion des medias{% endblock %}

{% block body %}

<<<<<<< HEAD
    <h2 class="text-center>Insérer votre image au format : jpg, jpeg ou png</h2>
    {{ include('media/_form.html.twig') }}
=======
    <h1>Choisis une image :</h1>


    {{ include('media/_formImage.html.twig') }}
>>>>>>> dev


{% endblock %}

{% block javascripts %}
 {{ parent() }}
{% endblock %}