{% extends 'base.html.twig' %}

{% block title %}Gestion des medias{% endblock %}

{% block body %}

    <h2 class="text-center>Insérer votre image au format : jpg, jpeg ou png</h2>
    {{ include('media/_formImage.html.twig') }}

{% endblock %}

{% block javascripts %}
 {{ parent() }}
{% endblock %}