{% extends 'base.html.twig' %}

{% block title %}Gestion des médias{% endblock %}

{% block body %}

    <h1>Choisissez une image :</h1>


    {{ include('media/_formImage.html.twig') }}


{% endblock %}

{% block javascripts %}
 {{ parent() }}
{% endblock %}