{% extends 'base.html.twig' %}

{% block title %}Gestion des medias{% endblock %}

{% block body %}

    <h1>Choisis une image :</h1>


    {{ include('media/_form.html.twig') }}


{% endblock %}

{% block javascripts %}

{% endblock %}