{% extends 'base.html.twig' %}

{% block title %}Gestion des medias{% endblock %}

{% block body %}

    <h2 class="text-center">Insérer votre lien</h2>

    {{ include('media/_form.html.twig') }}

{% endblock %}