{% extends 'base.html.twig' %}

{% block title %}Gestion des médias{% endblock %}

{% block body %}


    <h1>Insérez votre lien :</h1>



    {{ include('media/_formLink.html.twig') }}

{% endblock %}