{% extends 'base.html.twig' %}
{% block title %}Se connecter{% endblock %}
{% block body%}
    <div class="login-body">


            <div class="login">

                    <div class="login-title">
                        <img class="avatar" src="{{ asset('assets/img/logo_lesratons.png') }}" alt="card image">
                    </div>
                    <a class="login-btn" href="{{ path('app_logout') }}">
                        <button class="login-btn" type="submit">Retour à la connexion</button>
                    </a>


            </div>

    </div>
{% endblock %}