{% extends 'base.html.twig' %}

{% block title %}Edition Style{% endblock %}

{% block body %}
    <h1>Editer un style</h1>

    {{ include('style/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    <a href="{{ path('style_index') }}">Retour à la liste</a>

{% endblock %}
