body {
  > .container {
    background-color: white;
  }
}

ul{
  li{
    list-style-type: none;
    }
 }

.bloc-admin{
  padding:40px 115px 0 115px;
}

.btn-primary{
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
  transition: 0.5s;
}

.btn-primary:hover {
  color: #fff;
  background-color: #5a6268;
  border-color: #545b62;
}

