@import "vars";
@import "~bootstrap";
@import "form";

/* ==================================== Page profile ======================================*/
.body-profile{
  background: #f9f9f9;
}
.container-top{
  width: 100%;
  height: 175px;
  background: #607D8B;
  padding: 30px;
}
.icon-link{
  width: 40px;
  height: 40px;
  max-width: 40px;
  max-height: 40px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  margin: 6px;
}
.container-middle{
  width: 100%;
  background: #566f7c;
}
.profile{
  width: 100%;
  position: relative;
  top: -100px;
  text-align: center;
}
.profile, h4{
  font-size: 15px;
  color: white;
  line-height: 30px;
  padding: 30px 10px 1px 10px;
}
.avatar{
  width: 200px;
  height: 200px;
  max-width: 200px;
  max-height: 200px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border: white solid 5px;
}
.text-align{
  text-align: justify;
  margin: auto;
}
.container-bottom{
  width: 100%;
  background: #4b626d;
  text-align: center;
  color: white;
  padding: 10px;
}
.icon-info{
  width: 20px;
  height: 20px;
  max-width: 20px;
  max-height: 20px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  margin: 8px;
}
.lien {
  text-decoration: none;
  color: white;
}
.lien:hover {
  color: white; /* pour le passage de la souris*/
  text-decoration:none;
}
/* ==================================== Page profile - NavBar Media ======================================*/
.media-img{
  height: 200px;
  max-height: 200px;
  margin: 10px;
}
.pills-media{
  justify-content: center;
}
.link-media-p,
.link-media-v,
.link-media-m
{
  color: #607D8B;
  margin: 20px;
}
.link-media-p:hover,
.link-media-v:hover,
.link-media-m:hover
{
  color: #566f7c;
  border-bottom: 5px solid #566f7c;
  text-decoration: none;
}
.profile-body H2{
  color: #4b626d;
}
.profile-body{
  background-color: white;
  width: 70%;
  text-align: center;
  margin: 50px auto;
  padding: 50px 0px 50px 0px;
  box-shadow: 1px 1px 12px #ffffff;
}
@media screen and (max-width: 640px) {
  .profile-body{
    width: 100%;
    margin: 0px;
    padding: 0px;
  }
}
/* ==================================== Page profile - Info user ======================================*/
.container-rs{
  justify-content: center;
}
.rs-body{
  width: 30%;
  margin: 5px;
  padding-top: 30px;
}
.rs-left{
  font-weight: bold;
  width: 50%;
  text-align: right;
  padding-right: 10px;
}
.rs-rigth{
  width: 50%;
  text-align: left;
  padding-left: 10px;
}
.array-rs{
  padding-top: 30px;
  text-align: center;
}
.rs-info-sup{
  text-align: center;
  padding-top: 30px;
}
/* ==================================== Page profile - Footer ======================================*/
.copyright{
  color: #607D8B;
  text-align: center;
}

/* ==================================== Page administrateur - Card ======================================*/

$bg-cards: #EFEFE1;
$margin-cards: 30px;

.card{
  background-color: $bg-cards;
}
.card-deck{
  margin-left: $margin-cards;
  margin-right: $margin-cards ;
}
