{% extends 'base.html.twig' %}

{% block title %}Rechercher un Artiste{% endblock %}

{% block body %}
    <div class="bloc-admin">
        {{ form_start(form, {'attr' : {'class' : 'search'}}) }}
        <div class="container">
            <div class="row">
                <div class="col-6">
                    {{ form_row(form.searchField) }}
                </div>
                <div class="col-4">
                    <button class="btn btn-secondary" type="submit" name="btnSearch">Rechercher</button>
                </div>
            </div>
        </div>
        {{ form_end(form) }}
        {% include 'inc/cardAdmin.html.twig' %}
    </div>

{% endblock %}