{% extends 'base.html.twig' %}

{% block title %}Réseaux sociaux{% endblock %}

{% block body %}

    <h1>Insérez votre lien :</h1>
    <div class="container">
        <div class="label-title">
            {{ form_start(form) }}
            {{ form_row(form.url, {attr:{ 'placeholder' : 'Insérer un lien '}}) }}
        </div>
        <div class="row">
            <a class="btn btn-secondary m-4" href="{{ path('user_index') }}">Retour au profil</a>
            <button class="btn btn-success m-4" type="submit">Ajouter</button>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
