<!doctype html>
<html lang="fr">
    <head>
        <style> {% include 'emails/style_password_mail.css.twig' %}  </style>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>Les Ratons Guincheurs</title>
    </head>
    <body>
        <h2>Vous venez de faire une demande de réinitialisation de mot de passe.</h2>

        <div class="center-div">
            <img src="{{ img }}" alt="logo_les_ratons_guincheur">


            <p class="title-mail">Veuillez cliquer sur le bouton ci-dessous</p><br>
            <a class="btn-lien" href="{{ url('reset_password_confirmation', {token:token}) }}">
                <button class="btn-lien login-btn">Modifier</button>
            </a>
        </div>
    </body>
</html>