<h1>Bonjour</h1>

<p>Vous venez de faire une demande de réinitialisation de mot de passe.<br>
    Veuillez suivre le lien ci dessous : <br>
    <a href="{{ url('reset_password_confirmation', {token:token}) }}">Changer de mot de passe</a></p>