
{% block body %}


    <div class="sidenav text-center">
        <a href="{{ path('admin_index') }}">LOGO</a>
        <a href="{{ path('admin_index') }}">Tableau de bord</a>

        <a href="{{ path('admin_search') }}">Rechercher un Artiste</a>

        <a href="{{ path('app_logout') }}"><i class="fas fa-power-off"></i></a>

    </div>


{% endblock %}