{% extends 'base.html.twig' %}

{% block title %}Changer de mot de passe{% endblock %}

{% block body %}
    <div class="container">
    <h1>Modifier votre mot de passe</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}

    <button type="submit" class="btn btn-secondary">
        <i class="fa fa-save" aria-hidden="true"></i>
    </button> <a class="btn-secondary btn" href="{{ path('user_index') }}">Retour au profil</a>
    {{ form_end(form) }}

    </div>
{% endblock %}