{% extends 'base.html.twig' %}

{% block title %}Editer mes activités{% endblock %}

{% block body %}
    <h1>Editer mes activités</h1>

    <div class="container-fluid">

        <div class="row">

            <div class="col-lg-4">  {{ form_row(form.domain) }} </div>
            <div class="col-lg-4"> {{ form_row(form.skill) }} </div>
            <div class="col-lg-4"> {{ form_row(form.style) }}</div>

        </div>

        <button class="btn btn-secondary">Valider</button>


        <a href="{{ path('user_index') }}">back to list</a>

    </div>
{% endblock %}
